

.fa-img-home{
    background: url('../img/menu/home.png');
    background-repeat: no-repeat;
   
}



.fa-img-ma-data{
    background: url('../img/menu/master_data.png');
    background-repeat: no-repeat;
    
}



.fa-img-province{
    background: url('../img/menu/provinsi.png');
    background-repeat: no-repeat;
   
}



.fa-img-regency{
    background: url('../img/menu/kabupaten.png');
    background-repeat: no-repeat;
   
}




.fa-img-kendala{
    background: url('../img/menu/kendala.png');
    background-repeat: no-repeat;
    
}



.fa-img-forum{
    background: url('../img/menu/forum.png');
    background-repeat: no-repeat;

}



.fa-img-status{
    background: url('../img/menu/access.png');
    background-repeat: no-repeat;
  
}



.fa-img-ma-user{
    background: url('../img/menu/user_management.png');
    background-repeat: no-repeat;
   
}


.fa-img-user{
    background: url('../img/menu/user.png');
    background-repeat: no-repeat;
    
}



.fa-img-role{
    background: url('../img/menu/role.png');
    background-repeat: no-repeat;
  
}



.fa-img-pagu{
    background: url('../img/menu/pagu_target.png');
    background-repeat: no-repeat;
   
}


.fa-img-monitoring{
    background: url('../img/menu/rekapitulasi.png');
    background-repeat: no-repeat;
   
}



.fa-img-perencanaan{
    background: url('../img/menu/perencanaan.png');
    background-repeat: no-repeat;
   
}



.fa-img-pengawasan{
    background: url('../img/menu/pengawasan.png');
    background-repeat: no-repeat;
}


.fa-img-bimsos{
    background: url('../img/menu/bimbingan.png');
    background-repeat: no-repeat;
   
}




.fa-img-penyelesaian{
    background: url('../img/menu/penyelesaian_masalah.png');
    background-repeat: no-repeat;
   
}


.fa-img-promosi{
    background: url('../img/menu/promosi.png');
    background-repeat: no-repeat;
    
}

