

.icon-dashboard{
    background: url('../img/menu/home.png');
    background-repeat: no-repeat;
   
}

.icon-dashboard-hover{
    background: url('../img/menu/hover/home.png');
    background-repeat: no-repeat;
   
}



.icon-manajemen-data{
    background: url('../img/menu/master_data.png');
    background-repeat: no-repeat;
    
}

.icon-manajemen-data-hover{
    background: url('../img/menu/hover/master_data.png');
    background-repeat: no-repeat;
    
}

.icon-manajemen-user{
    background: url('../img/menu/user_management.png');
    background-repeat: no-repeat;
   
}

.icon-manajemen-user-hover{
    background: url('../img/menu/hover/user_management.png');
    background-repeat: no-repeat;
   
}

.icon-pagu-apbn{
    background: url('../img/menu/pagu_target.png');
    background-repeat: no-repeat;
   
}

.icon-pagu-apbn-hover{
    background: url('../img/menu/hover/pagu_target.png');
    background-repeat: no-repeat;
   
}


.icon-monitoring{
    background: url('../img/menu/rekapitulasi.png');
    background-repeat: no-repeat;
   
}

.icon-monitoring-hover{
    background: url('../img/menu/hover/rekapitulasi.png');
    background-repeat: no-repeat;
   
}

.icon-tools{
    background: url('../img/menu/kendala.png');
    background-repeat: no-repeat;  
}

.icon-tools-hover{
    background: url('../img/menu/hover/kendala.png');
    background-repeat: no-repeat;  
}

.icon-pelaporan{
    background: url('../img/menu/kendala.png');
    background-repeat: no-repeat;  
}

.icon-pelaporan-hover{
    background: url('../img/menu/hover/kendala.png');
    background-repeat: no-repeat;  
}

.icon-auditlog{
    background: url('../img/menu/kendala.png');
    background-repeat: no-repeat;  
}

.icon-auditlog-hover{
    background: url('../img/menu/hover/kendala.png');
    background-repeat: no-repeat;  
}


.icon-kriteria-kendala{
    background: url('../img/menu/kendala.png');
    background-repeat: no-repeat;  
}

.icon-kriteria-kendala-hover{
    background: url('../img/menu/hover/kendala.png');
    background-repeat: no-repeat;  
}


.icon-provinsi{
    background: url('../img/menu/provinsi.png');
    background-repeat: no-repeat;
   
}

.icon-provinsi-hover{
    background: url('../img/menu/hover/provinsi.png');
    background-repeat: no-repeat;
   
}




.icon-kabupaten{
    background: url('../img/menu/kabupaten.png');
    background-repeat: no-repeat;
   
}

.icon-kabupaten-hover{
    background: url('../img/menu/hover/kabupaten.png');
    background-repeat: no-repeat;
   
}

.icon-forum{
    background: url('../img/menu/forum.png');
    background-repeat: no-repeat;

}


.icon-forum-hover{
    background: url('../img/menu/hover/forum.png');
    background-repeat: no-repeat;

}


.icon-status{
    background: url('../img/menu/status.png');
    background-repeat: no-repeat;

}


.icon-status-hover{
    background: url('../img/menu/hover/status.png');
    background-repeat: no-repeat;

}

.icon-batas-periode{
    background: url('../img/menu/batas_periode.png');
    background-repeat: no-repeat;

}


.icon-batas-periode-hover{
    background: url('../img/menu/hover/batas_periode.png');
    background-repeat: no-repeat;

}



.icon-updating-data{
    background: url('../img/menu/rekapitulasi.png');
    background-repeat: no-repeat;
   
}

.icon-updating-data-hover{
    background: url('../img/menu/hover/rekapitulasi.png');
    background-repeat: no-repeat;
   
}











.icon-user{
    background: url('../img/menu/user.png');
    background-repeat: no-repeat;
    
}



.icon-role{
    background: url('../img/menu/role.png');
    background-repeat: no-repeat;
  
}

.icon-rekap{
    background: url('../img/menu/rekapitulasi.png');
    background-repeat: no-repeat;
  
}






.icon-perencanaan{
    background: url('../img/menu/perencanaan.png');
    background-repeat: no-repeat;
   
}



.icon-pengawasan{
    background: url('../img/menu/pengawasan.png');
    background-repeat: no-repeat;
}


.icon-bimsos{
    background: url('../img/menu/bimbingan.png');
    background-repeat: no-repeat;
   
}




.icon-penyelesaian{
    background: url('../img/menu/penyelesaian_masalah.png');
    background-repeat: no-repeat;
   
}


.icon-promosi{
    background: url('../img/menu/promosi.png');
    background-repeat: no-repeat;
    
}

.icon-imaps{
    background: url('../img/menu/imap.png');
    background-repeat: no-repeat;
    
}


.icon-aksi{
    background: url('../img/menu/action.png');
    background-repeat: no-repeat;
    
}


