
.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: #a94442;
}

@keyframes blink {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}

.blinking-text {
    animation: blink 1s step-end infinite;
}

.just-center { 
    display: flex; justify-content: center; 
}

.form-group.has-error .form-control {
    border-color: #dd4b39!important;
    box-shadow: none;
}

.text-capitalize{
    text-transform: capitalize;
}

.loading-position{
        margin: 89px 0px;
    font-size: 14px;
}

.text-center{
    text-align: center;
}

.modal-body {
    padding: 15px 15px 0px!important;
}
.box {
    border-radius: 12px!important;
}
.box.box-solid.box-primary {
    border: none!important;
}

.pd-left-right-15{
    padding: 0px 15px 0 15px!important;
}
.pd-top-bottom-15{
 padding: 15px 0px;
}
.pd-top-bottom-5{
 padding: 5px 0px;
}
.box-body-menu{
    padding: 12px 12px!important;
}
.padding-menu{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    
}

 .tab-text-role{
    padding: 0px 6px 0px 0px;
    position: relative;
    top: 4px;
    cursor: pointer;
 }

.margin-top-bottom-50{
    margin: 50px 0px;
   
}

.font-16{
     font-size: 16px;
}

.pd-top-bottom-6{
 padding: 6px 0px;
}

.padding-06-10{
    padding: 6px 10px!important;
}

.mrg-left-10{
    margin: 0px 0px 0px 10px;
}
   

.label-header-box{
    padding: 4px 0px;
    top: 2px;
    
}


.camera_upload {
    display: block;
    position: relative;
    cursor: pointer
}

.camera_upload .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 1em;
    height: 1em;
    color: #fff;
    font-size: 2em;
    text-shadow: 0 0 3px #464646;
    opacity: 0
}

.camera_upload:hover img {
    opacity: .6
}

.camera_upload:hover .icon {
    opacity: 1
}

.align-right{
   text-align: right; 
}

.align-left{
   text-align: left; 
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.navbar-custom-menu .navbar-nav>li>a {
     padding: 6px 12px!important; 

    
}
.label-black {
    background-color: #000000 !important;
}
.mc-10{
    margin-left: 10px;
    margin-right: 10px;
}

.mc-15{
    margin-left: 15px;
    margin-right: 15px;
}

.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}

.padding-0-10{
    padding: 0px 10px;
}

.font-10-link{
  font-size: 10px;
  font-family: 'Montserrat';

}

.font-12{
    font-size: 12px!important;
}

.font-14{
    font-size: 14px!important;
}

.font-label-login{
    font-weight: 500;
}

.margin-left-button{
    margin: 0px 16px 0px 0px;
}

.padding-0-15{
    padding: 0px 15px!important;
}
.padding-none{
    padding: 0px!important;
}

.margin-none{
  margin: 0px!important;
}

.group-btn-rencana {
    width: 173px;
    float: right;
}

.border-radius-16{
  border-radius: 16px!important;
}
.border-radius-top{

    border-radius: 12px 12px 0px 0px!important;
}

.width-70{
  width: 70%;
}

.image-preview{
       width: 200px;
    margin: 10px;
    background: #d9d9d9;

}

.image-preview img{
    width: 200px;
    padding: 18px 18px;

}

.loading-table{
    padding: 93px 0px;
}

.pagination-table{
    float: right;
    margin:0px;
    padding: 9px 0px;
}

.col-bb{
    border-bottom: 1px solid #ddd;
    padding: 9px 15px 7px;
}

.col-bt{
    border-top: 1px solid #ddd;
}

.img-det{
    border: 1px solid #DDD;
    padding: 6px;
    background: #ddd;
    border-radius: 3px;
}

.algn-center{
    text-align: center;
}

.sidebar-mini.sidebar-collapse .main-header .logo {

    background-image: url("../../sidakv2/img/side-bar.png");
    background-repeat: no-repeat;
    border-radius: 20px 20px 0px 0px;
}

.img-logo{
    width: auto;
}

.checkbox-radio-login{
    padding: 0px 0px;
}

.date-full,.full{
    width: 100%;
}

.select-weight{
    width: 300px !important;
}
.title-form{
    padding: 15px 0px;
}

.select-payment{
  width: 200px !important;
}

.search-payment{
        padding: 8px 12px !important;
    border-radius: 3px !important;
}

.search-box{
  margin-bottom: 20px;
    width: 100%;
}

.has-border{
    border: 1px solid #f44336 !important;
}


.table-padding-second
{

       padding: 9px 0px 9px 30px!important;
}


.filter-select{
    width: 35%;
    padding: 5px;
        margin: 0px 10px;
}

.select-on {
    width: 100% !important;
    
}

.btn-filter{
    padding: 5px 12px;
}

.loading-submit{
    width: 100%;
   
    
}

.select2-container{
    z-index: 9999!important;
    width: 100%!important;
    display: block!important;
}

.progress-bar{
        width: 0%;
}

.progress {
    height: 30px !important;
     margin-bottom: 0px !important; 
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
}

.pa-count{
       position: relative;
    top: 6px;
}

.alert-score{
     position: relative;
    top: 10px;
    left: 13px;
}

.margin-first{
    margin: 16px 0px !important;
}

.border-grup{
    border: 1px solid #ddd;
    margin: 32px 0px 20px;
    border-radius: 3px;
}

.border-grup .spanx{
    border: 1px solid #ddd;
    padding: 8px 10px;
    background: #fff;
    position: relative;
    bottom: 19px;
    font-size: 15;
    font-weight: bold;
    color: red;
        border-radius: 3px;
}
.select-search{
  width: 150px !important;
}

.padding-label{
    padding: 0px 5px;
    position: relative;
    top: 8px;
}

.mgrin-search{
    margin: 20px 0px 0px;
}
.span-logo{
        float: left;
    margin: 6px 0px;
    color: red;
}

.title-center{
    text-align: center;
}

.box-search {
    position: relative;
    border-radius: 3px;
    background: #ffffff;

    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}


.box-rumus{
    position: relative;
    top: 32px;
    color: #000;
    font-size: 16px;
}

.modale-left{
    float: left;
    width: 40%;
}

.select-modal{
    width: 100% !important;
}

.modale-center{
    float: left;
    width: 20%;
}

.modale-center .padd{
   padding: 15px;
    margin: 78px auto;
    width: 50%;
}

.modale-right{
    float: right;
    width: 40%;
}


/*.has-error {
    border: 1px solid #e91e63 !important;
   
}*/

.border-radius-left{
    border-radius: 10px 0px 0px 10px!important;
}
.border-radius-right{
    border-radius: 0px 10px 10px 0px!important;
}
.padding-search{
        padding: 5px 16px!important;
}    
.height-35{
    height: 34px!important;
}
.margin-top-bottom-20{
    margin: 20px 0px!important;
}
.padding-default{
    padding: 0px!important;
}
.width-25{
    width: 25%!important;

}
.width-40{
    width: 40%!important;
}
.width-50{
    width: 50%!important;
}

.padding-9-0{
  padding: 9px 0px;
}

.padding-8-0{
   padding: 8px 0px;
}

.padding-0-8{
   padding: 0px 8px; 
}

.grup-checkbox {
    margin-bottom: 0px!important;
   
}

.group-menu{
     padding:4px 15px!important;
}

.group-sub{
     padding: 5px 10px 5px!important;
}

.grup-checkbox .row-checkbox {
    background: #e9e9e9;
    border: 1px solid #afaeae;
    border-radius: 3px;
    
    padding: 5px 11px;
    float: left;
    width: 100%;
    cursor: pointer;
    
}

.grup-checkbox .row-checkbox:after{
    margin: 5px 0px 0px ;
}

.checkbox-form {
    width: 7%;
}

.checkbox-label {
    width: 50%;
    padding: 5px;
}

.nav-tabs-custom>.tab-content {
    padding: 12px 12px!important;
}


.padding-05-05{
    padding: 5px;
}

.padding-5-0{
    padding: 5px 0px!important;
}

.padding-10-0{
    padding: 8px 0px;
    font-size: 30px;
    font-weight: 700;
    color: #0e298f;

}

.padding-5-15{
    padding:5px 15px!important;
}

.padding-0-5{
    padding: 0px 5px;
}

.padding-0-15-0-0{
    padding: 0px 15px 0px 0px!important;
}

.padding-0-12{
    padding: 0px 12px;
}

.padding-80-0{
        padding: 80px 0px;
}

.mn-secondary{
    margin: 9px 16px 0px;
    
    padding: 6px 14px;
    width: 96%;
   
}

.bootstrap-select:not(.input-group-btn){
    display: block!important;
}

.bootstrap-select .dropdown-menu {
    z-index: 9999!important;
}

.mgn-none{
    margin: 0px !important;
}

.margin-0-0-50-0
{
    margin: 0px 0px 50px;
}

.margin-0-0-20-0
{
    margin: 0px 0px 20px;
}

.margin-0-12-0-0
{
    margin: 0px 12px 0px 0px;
}


.text-center{
    text-align: center;
}

.font-bold{
    font-weight: bold;
}

.padding-28 {
    padding: 28px;
}

.moving-card {
  opacity: 0.5;
  background: #F7FAFC;
  border-radius: 3px;
    padding: 0px 0px!important;
    float: left;
    width: 100%;
  border: 1px dotted; #ff0000;
}


.bg-list-menu-btn{
    background: #838383;
    color: white;
    border-radius: 3px;
}

.border-right-white{
    padding: 0px 3px;
    border-right: 1px solid #fff;
}

.edit-menu-form{
    background: #ddd;
    padding: 13px 10px;
    border-radius: 0px 0px 3px 3px
}

.group-list-btn-save{
    padding: 10px 10px!important;
    border-top: 1px solid #ddd;
    margin: 0px!important;
}

.po-top{
    position: relative;
    top: 3px;
}

.text-lower{
     text-transform: lowercase;
}

.menu-default{
    padding: 12px 0px;
    color: #b3b2b2;
   
}

.img-icon{
    width: 11%;
    border: 1px solid #c30303;
    border-radius: 3px;
}

.menu-left-icon{
    width: 6%;
    margin: 4px 2px;
}

.menu-icon{
     width: 100%;
}

.menu-left-icon-role {
    width: 4%;
    margin: 4px 0px;
}

.sidebar-icon{
   width: 10%;
    position: relative;
    right: 4px;
    bottom: 1px;

}
.menus {
    display: block;
    position: relative;

    border-radius: 3px;
    cursor: pointer;
    
}
.black{
    background: #000;
}
.pointer{
    cursor: pointer;
}

.menus .icon {
    position: absolute;
    top: 58px;
    bottom: 0;
    left: 0;
    right:51px;
    margin: auto;
    width: 1em;
    height: 1em;
    color: #fff;
    font-size: 2em;
    text-shadow: 0 0 3px #464646;
    opacity: 0;
}

.menus:hover ul {
    opacity: .6
}

.menus:hover .icon{
    opacity: 1
}


.sidebar-inner { 
    left:0px!important;
}

.z-index{
    z-index: 999;
  
}

.wrapper{
    margin: 10px auto;
    width: 98%;
}
.skin-default,.content-wrapper,.main-header,.skin-blue,.content-wrapper,.main-header,.skin-blue .main-header .navbar{
    background: #f4f4f4!important;
}

.skin-blue .main-header .logo {
    background: #f4f4f4;
}

.margin-30-0{
    margin: 30px 0px;
}

.dotted-upload{
    padding: 20px;
    border: 2px dotted #d50000;
}

.loading-top{
    position: relative;
    top: 3px;
}
.ps {
  height: 400px;
}    

.pd-none {
    padding: 0px!important;
}


.border-radius-10{
    border-radius: 10px!important;
}

.border-radius-20{
    border-radius: 20px!important;
}

.color-dark-blue{
    color: #17102F;
}

.fa-search{
    padding: 0px 8px!important;
}

/*.box-body {
    padding: 0px 24px!important;
}*/

.table>thead>tr>th {
    padding: 14px 8px!important;
}   
#select-all{
    position: relative;
    bottom: 16px;
}

.chat .item {
    margin-bottom: 25px!important;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 1px 0px 0px #a0a0a0;
}

.split-table{
    background: #0e298f;
    height: 44px;
    width: 3px;
    border: 1px solid #0e298f;
    border-radius: 3px;
    float: left;
    margin: 0px 16px 0px 0px;
} 

.span-title{
    float: left;
    padding: 12px 0px!important;
}

.padding-text-table{
    padding: 10px 0px 10px 28px!important;
}

.btn-search{
    background: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.btn-search: hover{
    
}

.btn-search:focus{
     background: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    box-shadow: none!important;
}


.resize-hide{
  resize: none;
}

#user-photo{
     border: 1px solid #ddd;
    border-radius: 65px; 
    width: 130px;
    height: 130px;
}

.user-photo{
    width: 23%!important;
   
}



.title-menu-sub{
  padding: 12px 94px 12px 32px;
   top: 2px;
    position: relative;
}

.main-sidebar{
    background-color: #1e3798;
    background-image: url("../../sidakv2/img/side-bar.png");
    background-repeat: no-repeat;
    border-radius: 20px;
    z-index: 9999;
    min-height: 100%!important;
    padding: 0px 0px!important;
    background-position: 0px -14px;
}
.logo{
  float: left;
  width: 100%;
}

.sidebar-menu .header {
    padding: 10px 25px 10px 15px;
    font-size: 12px;
    text-align: center;
        overflow: hidden;
    text-overflow: clip;
    color: #fff;
}

.logo .pd-logo-sidebar{
    padding: 16px 0px 13px 18px;
    
}

.toogle-menu{
        padding: 16px 24px 16px 0px;
}

.logo a .img-logo {
    width: 50%;
   
}

.sidebar-menu>li>a {
    padding: 12px 12px!important;
     font-weight: 500;
}


.skin-blue .sidebar-menu>li.active>a {
     border-left-color: #fff;
     padding: 8px 10px; 
}
.skin-blue .sidebar-menu>li:hover>a,.skin-blue .sidebar-menu>li.active>a,.skin-blue .sidebar-menu>li.menu-open>a,.skin-blue .sidebar-menu>li.menu-open>a>.fa-icon>span:hover,.skin-blue .sidebar-menu>li.menu-open>a>.fa-icon>span:focus {
    color: #fff!important;
    background: #0e298f!important;
    
    box-shadow: 0px 2px 0px 0px #000;
}

.sidebar-menu>li>a>.fa-icon,.treeview-menu>li>a>.fa-icon{
    width: 24px;
    height: 24px;
    display: inline-block;
}

.po-top-menu{
    position: relative;
    top: 7px;
}

.skin-blue .sidebar-menu>li>a>span{
    font-size: 13px;
   

}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>.pull-right-container {
    position: relative !important;
    float: right;
    width: auto !important;
    left: 191px !important;
    top: -34px !important;
    z-index: 900
}



/*.skin-blue .sidebar-menu>li>.treeview-menu {
   width:500px;
}*/

.sidebar-menu>li>a,.sidebar-form, .sidebar-menu>li.header,.treeview-menu>li>a {
  color: #fff;
}

.treeview-menu>li>a:hover {
    color: #fff;
}


.mgn-center-img{
    margin: 0px auto;
   
}

.main-nav{
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    margin: 0px 0px 10px!important;
}

.img-circle {
   background: #fff;
   width: 128px;
   height: 128px;
    
}

.pd-img-sidebar{
    padding: 23px 0px;
}

.user-panel>.info {
    padding:0px 0px!important;
    line-height: 1;
     position: relative!important; 
     left: 0px!important; 
}

.user-panel>.info p{
    color: #fff;
}

.disabled-span {
    color: #999;
    pointer-events: none; 
}

.text-center{
    text-align: center;
}
.text-normal{
    font-weight: 100;
}
.logo-lg{
    margin: 0px auto;
    width: 42%;
}


.logo-mini{
  padding: 0px 13px;
}

.pagination{
    float: right!important;
}

.d-none {
  display: none !important; }

.d-block {
  display: block !important; }


.d-flex {
  display: flex !important; }


  

.picture-lg, .picture-mini{
    width: 42%; 
}

.image-preview-icon{
    width: 58px;
    margin: 10px;
    background: #d9d9d9;
    padding: 12px 12px;
}

.border-right-table{
        border-right: 3px solid #0e298f;

}
.border-left-table {
    border-left: 3px solid #0e298f;
    padding: 0px 0px 0px 16px;
   
}

.bg-search-table{
   width: 100%;
    padding: 9px 0px;
    margin: 1px 0px;
}

.modal{
  z-index: 9999;
}

.mgn-bottom-20{
    margin: 0px 0px 20px;
}

.font-16{
    font-size: 16px;
}
.font-10{
    font-size: 10px!important;
}
.font-normal{
     font-style: normal!important;
}



.modal-header {
    color: #fff;
    background: #0e298f;
    background-color: #0e298f;
    border-radius: 15px 15px 0px 0px;
}

.modal-content{
    border-radius: 15px;
    box-shadow: 4px 6px 3px 0px #000000;
}

.modal-header .close {
    opacity: 1!important;
    color: #fff!important;
}
.th-checkbox{
    width: 30px!important;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%!important;
 
}

.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-primary{
      color: #fff!important; 
}

.sidebar-menu li>a>.pull-right-container {
  
    margin-top: -5px!important;
}

.textarea-fixed {
  width: 100%!important;
  min-height: 200px!important; 
}

.textarea-fixed-replay {
  width: 100%!important;
  min-height: 80px!important; 
}

.chat-img {
    width: 40px;
    height: 40px;
    border: 2px solid #0e298f;
    border-radius: 50%;
    margin: 13px 13px;
}

.text-username{
    border: none!important;
    background: none!important;
    line-height: 30px;
    font-weight: bold;
    padding: 0px 0px;
    text-transform: capitalize;
}

.text-message{
    background: none!important;
    border: none!important;
    min-height: auto!important;
    padding: 0px!important;
}

.border-list{
        margin: 0px!important;
   border-bottom: 1px solid #e9e5e5;
    box-shadow: 0px 2px 0px 0px #fff;
}

.padding-top-bottom-com{
   padding: 4px 16px 10px; 
}


.btn-delete-chat{
        width: 8%!important;
    padding: 0px 7px!important;
    float: left;
}

.btn-group-forum{
    padding: 0px 7px!important;
    float: left;
}

.margin-top-7{
    margin: 7px 0px;
}
.margin-top-32{
margin: 32px 0px;
}
@media (min-width: 576px) {
  .d-sm-none {
    display: none !important; }
  
  .d-sm-block {
    display: block !important; }
  
  .d-sm-flex {
    display: flex !important; }

  .mb-sm-0, .my-sm-0 {
    margin-bottom: 0 !important;
   }
   .picture-mini{
        width: 55%; 
    }  
    .picture-lg{
        width: 100%; 
    }

    .user-panel {
        padding: 0px!important;    
    }
    
  
   }

@media (min-width: 768px) {
  .d-md-none {
    display: none !important; }
  .d-sm-block {
    display: none !important; }  
  .d-md-block {
    display: block !important; }
  .d-md-flex {
    display: flex !important; }
    

     .picture-lg{
        width: 100%; 
    }



.picture-mini {
    width: 55%!important;;
}

 .user-panel {
        padding: 0px!important;    
    }
    

  }



@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important; }
   .d-sm-block {
    display: none !important; }   
  .d-xl-block {
    display: block !important; }
  .d-xl-flex {
    display: flex !important; }
    .picture-mini{
        width: 42%; 
    } 
     .picture-lg{
        width: 100%; 
    }
    .skin-blue .sidebar-menu>li>a>.title-menu {
    position: relative;
    bottom: 5px;
    }

   }


    @media (min-width: 992px) {

   .d-sm-block {
    display: none !important; }       
  .col-lg {
    flex-basis: 0!important;
    flex-grow: 1!important;
    max-width: 100%!important; }

  .col-lg-auto {
    flex: 0 0 auto!important;
    width: auto!important;
    max-width: 100%!important; }
  .col-lg-1 {
    flex: 0 0 8.33333%!important;
    max-width: 8.33333%!important; }
  .col-lg-2 {
    flex: 0 0 16.66667%!important;
    max-width: 16.66667%!important; }
  .col-lg-3 {
    flex: 0 0 25%!important;
    max-width: 25%!important; }
  .col-lg-4 {
    flex: 0 0 33.33333%!important;
    max-width: 33.33333%!important; }
  .col-lg-5 {
    flex: 0 0 41.66667%!important;
    max-width: 41.66667%!important; }
  .col-lg-6 {
    flex: 0 0 50%!important;
    max-width: 50%!important; }
  .col-lg-7 {
    flex: 0 0 58.33333%!important;
    max-width: 58.33333%!important; }
  .col-lg-8 {
    flex: 0 0 66.66667%!important;
    max-width: 66.66667%!important; }
  .col-lg-9 {
    flex: 0 0 75%!important;
    max-width: 75%!important; }
  .col-lg-10 {
    flex: 0 0 83.33333%!important;
    max-width: 83.33333%!important; }
  .col-lg-11 {
    flex: 0 0 91.66667%!important;
    max-width: 91.66667%!important; }
  .col-lg-12 {
    flex: 0 0 100%!important;
    max-width: 100%!important; }
   }

    .d-lg-none {
    display: none !important; }
  .d-sm-block {
    display: none !important; } 
  .d-lg-block {
    display: block !important; }
  .d-lg-flex {
    display: flex !important; }
   .picture-mini{
        width: 55%; 
    }

     .picture-lg{
        width: 100%; 
    }



}
