/*================================================================================
	Item Name: Apex - Angular 4 Bootstrap Admin Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

.content-login {
    padding: 14.5rem !important
  
}



.card {
 padding: 0px 0 !important;
 border-radius: 0!important;
}

.p-14-5 {
    padding: 14.5rem 
}    

.stay-lock{
	margin: 0px auto!important;
	width: 100%!important;
}

.mgn-top-bottom-30{
	margin: 30px 0px;
}

.pd-input-login{
	padding: 1.5rem 0px !important;
}
.pd-module-login{
	float: left;
    width: 352px;
    padding: 0px 0px 0px 37px
}
.pd-left-right-58{
	padding: 0px 58px!important;
}

.ps-12{
	padding: 12px !important;
}

.pd-top-bottom-39{
	padding: 39px 0px;
}

.pd-top-bottom-20{
	padding: 20px 0px;
}

.pd-bottom-20{
	padding: 0px 0px 20px;
}

.pd-copyright{
	padding: 125px 0px 0px;
}

.logo-bkpm-login, .logo-sidak-login{
	width: 100%;
}
.card-title{
	width: 100%!important;
}


.pd-top-bottom-65 {
    padding: 65px 0px;
}

.pd-bottom-8
{
	padding: 0px 0px 8px;
}

.pd-none{
	padding: 0px!important;
}

.btn-primary {
    background-color: #0e298f!important;
    border-color: #0e298f!important;
}

.color-grey{
	color: #8f8f8f;
}

.color-grey-light{
	color: #616060;
}
.text-capitalize{
	text-transform: capitalize;
}

.mgn-none{
	margin: 0px!important;
}

.color-dark-blue{
	color: #17102F;
}

.font-sm-0{
	font-size: 0.5rem ;
}

.font-sm-1 {
    font-size: 0.6rem ;
}
.border-radius-10{
	border-radius: 10px!important;
}

.border-radius-20{
	border-radius: 20px!important;
}

.login-center-bkpm{
	margin: 0px auto;
	width: 27%;
}

.login-center-sidak{
	margin: 15px auto;
	width: 45%;
}

.text-bold-800{
	font-weight: 800;
}

@media (max-width: 576px) {
	.pd-module-login {
	    float: left;
	    width: auto!important;
	    padding: 0px 24px!important;
	}

    .mb-3
    {
         float: right; 
    }
    .btn-mobile{
    	float:left;
    	width: 100%;
    }

}



@media (prefers-reduced-motion: reduce) {
  .form-control {
      transition: none; } }
  .form-control::-ms-expand {
    background-color: transparent;
    border: 0; }
  .form-control:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #75787d; }
  .form-control:focus {
    color: #75787d;
    background-color: transparent;
    border-color: #157ceb!important;
    outline: 0;
    box-shadow: none; }
  .form-control::placeholder {
    color: #BDBDBD;
    opacity: 1; }
  .form-control:disabled, .form-control[readonly] {
    background-color: #F7F7F8;
    opacity: 1; }
  
 .app-sidebar 
 {

    background-image: url('../../template/apex/img/bkpm/sidebar.png');
    background-repeat: no-repeat!important;
    height: auto; 
  }

	a{
		color: #00209f!important;
	}
	a:hover{
		color: #157ceb!important;
	}


body {
  background-color: #fff!important; 
}
.mgn-body{
	margin: 0px auto;
	width: 95%;
	border: 1px solid #000;
	height: 90%;
}